<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <i class="pi pi-key"></i><span class="ui-panel-title">Área restrita</span>
        </div>
    </p-header>
        <p>Esta página requer autenticação.</p>
        <p>Clique no botão abaixo entrar com seu usuário e senha.</p>
    <p-footer>
        <button pButton type="button" icon="fa fa-sign-in" label="Entrar" class="ui-button-info" style="margin-right: .25em" (click)="onLoginClick()"></button>
    </p-footer>
</p-panel>
