<p-card header="Área restrita" subheader="Subheader" [style]="{width: '350px'}" styleClass="ui-card-shadow">
  <form (submit)="onClickEnter()">
    <p-header>
        <img src="assets/images/locked-padlock 128.png">
    </p-header>

    <div>Informe se usuário e senha para ingressar na área restrita</div>

    <div>
      <label for="username">Usuário</label>
      <input id="username" type="text" size="10" pInputText [(ngModel)]="form.username" [ngModelOptions]="{standalone: true}"/>
    </div>

    <span>
      <label for="userpass">Senha</label>
      <input id="userpass" type="password" pInputText [(ngModel)]="form.userpass" [ngModelOptions]="{standalone: true}"/>
    </span>

    <p-footer>
      <button pButton type="submit" label="Entrar" icon="pi pi-check" style="margin-right: .25em"></button>
    </p-footer>
  </form>
</p-card>
